$font:'Roboto Mono';
$font2:'Open Sans';
$green:rgba(51,113,43,1);
$green_light:rgb(72, 168, 60);
$blue:rgba(18,24,51,1);
$blue_light:rgb(66, 131, 216);
$yellow:rgb(238, 178, 48);
$yellow_light:rgb(238, 209, 48);

#about_gallery{
    position:relative;
    width:100%;
    min-height:80vh;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.3);
    img{
        width:100%;
        height:100%;
        position:absolute;
        object-fit: cover;
        object-position: 0% 25%;
        top:0;
        left:0;
        opacity:0;
        &:first-of-type{
            opacity:1;
        }
    }
    h2{
        position:absolute;
        bottom:10%;
        left:50%;
        transform:translate(-50%,10%);
        color:white;
        font-family:$font2;
        font-size: calc(24px + 2vw);
        text-align: center;
    }
}

#about_bio{
    padding:3% 15%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    iframe{
        width:267px;
        height:476px;
        margin-right:2%;
    }
    p{
        font-family: $font2;
        color:$blue;
        text-align: center;
        font-size: calc(12px + 0.6vw);
        width:60%;
        margin-left:2%;
    }
}

#about_bio2{
    padding:3% 15%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    height:max-content;
    iframe{
        width:50%;
        min-width:250px;
        margin-top:2%;
        min-height:max-content;
    }
    p{
        font-family: $font2;
        color:$blue;
        text-align: center;
        font-size: calc(12px + 0.6vw);
        width:60%;
        margin-right:2%;
    }
}

h2{
    color:$blue;
    font-family: $font2;
    font-size:calc(16px + 1.5vw);
    text-align: center;
}

#about_medias{
    width:90%;
    align-self: center;
    position:relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    a.media_link{
        display:block;
        text-decoration: none;
        position:relative;
        width:10%;
        min-width:60px;
        padding:1% 2%;
        box-sizing: border-box;
        display:flex;
        justify-content: center;
        img{
            width:100%;
            object-fit: contain;
        }
    }
}

#about_partenaires{
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    img{
        width:10%;
        min-width:60px;
        padding: 1% 2%;
        object-fit: contain;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 498px){
    #about_gallery{
        img{
            object-position: 40% 0%;
        }
    }
    #about_bio{
        padding:3% 4%;
        flex-direction: column-reverse;
        iframe{
            margin-right:none;
            margin-top:2%;
            margin-bottom:2%;
        }
        p{
            margin-left:none;
            margin-top:2%;
            width:90%;
        }
    }
    #about_bio2{
        padding:3% 4%;
        flex-direction:column;
        iframe{
            margin-top:2%;
            margin-bottom:2%;
            width:90%;
            height:max-content;
        }
        p{
            margin-top:2%;
            width:90%;
        }
    }
    #about_medias{
        padding:2% 3%;
    }
    #about_partenaires{
        padding:2% 3%;
    }
}